<a href="@Item.Link" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
    <span class="flex-none justify-center items-center ml-4">
        <div bg-auto bg-no-repeat bg-center>
            <img class="w-5 h-5" src="@Item.Icon" alt="@Item.Name"/>
        </div>
    </span>
    <span class="ml-2 text-sm tracking-wide truncate">@Item.Name</span>
    @if (!string.IsNullOrWhiteSpace(Item.Notification))
    {
        <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-indigo-50 rounded-full">@Item.Notification</span>
    }
</a>

@code {

    [Parameter]
    public NavItem Item { get; set; }

}