@inherits MvvmComponentBase<NavMenuViewModel>

<!-- Main navigation container -->
<nav class="flex mx-auto items-center justify-between gap-x-1 sm:gap-x-2 lg:gap-x-6 @ViewModel.Theme.Dark bg-white dark:bg-gray-900 text-black dark:text-white" aria-label="Global">
    <div class="flex px-2 sm:px-6 lg:px-8">
        <a class="-m-1.5 p-1.5" href="./">
            <div class="flex justify-center items-center h-10">
                <span class="sr-only">@ViewModel.Theme.Organization</span>
                <img src="@ViewModel.Theme.Logo" class="h-10 w-10 max-w-none bg-white dark:bg-yellow-400 fill-cyan-500" alt="logo">
                <div class="flex h-10 bg-white dark:bg-yellow-400 fill-cyan-500">
                    <p class="flex justify-center items-center align-middle font-sans text-nowrap max-sm:text-xs md:text-xl lg:text-xs text-center p-2 font-bold text-black dark:text-black">@ViewModel.Theme.Organization</p>
                </div>
            </div>
        </a>
    </div>
    <div class="flex flex-1 p-6 gap-x-2 justify-center items-center hidden lg:flex">
        @foreach (var navItem in ViewModel.Theme.NavItems)
        {
            <a class="text-nowrap flex items-center rounded-md font-medium h-10 px-8 bg-white dark:bg-gray-900 text-black dark:text-white" href="@navItem.Link">@navItem.Name</a>
        }
    </div>
    <UserStateNavMenuItem></UserStateNavMenuItem>
</nav>